#root{
    font-family:  "Montserrat Variable ", sans-serif;
    background-color: black;
}

html, body{
    background-color: black;
}

.homepage_section1{
    background-color: black;
    color: white;
    padding: 60px;
    position: relative;  
    overflow: hidden;
}

.homepage_section1_layout{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}

.text_header{
    margin-top: 30px;
    width: 50%;
    align-items: flex-start;
    text-align: left;
}

.my_name_header{
    font-size: 70px;
    color: white;
    font-weight: 700;
}

@media screen and (min-width: 1400px){
    .homepage_section1_layout{
        max-width: 1500px
    }

    .content_above{
        max-width: 1400px
    }

    .homepage_section1{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1150px) {
        .card {
        width: 400px;
        height: 300px
    }
}

@media screen and (max-width: 1080px) {
    .homepage_section1_layout{
        max-width: 890px;
        display: block;
    }

    .homepage_section1{
        padding: 20px;
    }

    .text_header{
        width: 100%;
    }

    .my_name_header{
        font-size: 60px;
    }

      .moving_cards {
    display: none;
  }

}


.roles_header{
    font-size: 25px;
    color: white;
    font-weight: 500;

}

.moving_cards{
    height: 400px;
    height: 400px;
    position: relative;
    width: 50%;
}

.card_title{
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.card_image{
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.card_description{
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
}

.content_above {
    z-index: 999;
    position: relative;
}

.particles_bg{
      position: absolute;
  inset: 0;                 /* top:0 right:0 bottom:0 left:0 */
  z-index: 0;
  pointer-events: none; 
}

.vertical-timeline::before {
  /* this is the vertical line */

  background: rgb(255, 253, 253) !important;
}


.empty {
  height: 600px;
  border: 1px solid red;
}



